<script>
    import {push} from 'svelte-spa-router'
    import {signOut,getAuth} from 'firebase/auth'

    const auth = getAuth()

    async function logout(){
        try {
            await signOut(auth)
            localStorage.removeItem("uid")
            await push("/login")
        } catch (err) {
            console.error(err)
        }
    }
</script>

<div>
    
    <h1>Home</h1>
    <button on:click|preventDefault={logout} class="w-full inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold capitalize text-white hover:bg-red-700 active:bg-red-700 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 disabled:opacity-25 transition">Logout</button>

</div>