<script>
  import Router from "svelte-spa-router"

  import NotFound from "./routes/NotFound.svelte";
  import Home from "./routes/Home.svelte";
  import Login from "./routes/Login.svelte";
  import App from "./firebase"
  import {onMount} from 'svelte'
  import {getAuth,onAuthStateChanged} from 'firebase/auth'
  import {push} from 'svelte-spa-router'
  import {isLoggedIn} from './stores/authStore'

  onMount(()=>{
    const auth = getAuth();
    onAuthStateChanged(auth,(user)=>{
      if(user){
        console.log("welcome")
        isLoggedIn.update(()=>true)
      }else{
        isLoggedIn.update(()=>false)
        push("/login")
      }
    })
  })

  let routes ={
    "/":Home,
    "/login":Login,
    "*":NotFound
  }
</script>

<main>
  <h1>{$isLoggedIn}</h1>
  
  <Router {routes}/>
</main>

<style>
  
</style>
